@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: oklch(0.60 0.10 185);
  --secondary: oklch(0.61 0.11 222);
  --accent: oklch(0.55 0.22 263);
  --light: oklch(0.95 0.05 181);
  --lighter: oklch(0.98 0.01 181);

}
/*     gradient: 'from-teal-500 to-cyan-600',
    gradientHover: 'from-teal-600 to-cyan-700',
    bg: 'from-teal-50 via-cyan-50 to-blue-100', */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-light: var(--light);
  --color-lighter: var(--lighter);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
